<polymer-element name="main-view">
  <template>
    <h1>Message Cipher</h1>

    <div id="wrapper" class="flexbox-row-nowrap flex-justify-start">
      <div class="box-container">
        <h4>Original</h4>
        <textarea value="{{originalMessage}}"></textarea>
        <div class="control-panel flexbox-row-nowrap flex-justify-end">
          <button class="btn btn-default" on-click="{{onEncrypt}}">Encrypt <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
      </div>

      <div class="box-container">
        <h4>Encrypted</h4>
        <textarea value="{{encryptedMessage}}" spellcheck="false"></textarea>
        <div class="control-panel flexbox-row-nowrap flex-justify-start">
          <button class="btn btn-default" on-click="{{onDecrypt}}"><span class="glyphicon glyphicon-arrow-left"></span> Decrypt</button>
        </div>
      </div>
    </div>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>