#wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.box-container {
  width: 475px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  margin-right: 10px;
}

.control-panel {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  margin-top: 10px;
}

.encrypt-controls {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.decrypt-controls {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

textarea {
  min-width: 100%;
  min-height: 150px;
}

.btn {
  cursor: default !important;
}